# =========================================
# Flutter Project .gitignore
# =========================================

# =========================================
# Custom files and folders
# =========================================
/_DEV_TMP_/
